@use '../../../styles/variables.scss'as vars;

.homeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 200ms ease-in;
    justify-content: flex-start;
    gap: 32px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}